<h1>형변환</h1>
<p>int(‘123’) # ‘123’을 정수로 변환<br />
str(123) # 123을 문자열로 변환<br />
float(’123.45’) # ‘123.45’을 실수로 변환<br />
list(’abc’) # ‘abc’를 리스트로 변환, [’a’, ’b’, ’c’]<br />
set([1, 2, 3]) # [1, 2, 3]을 집합으로 변환, {1, 2, 3}<br />
dict([(’a’, 1), (’b’, 2)]) # [(’a’, 1), (’b’, 2)]을 딕셔너리로 변환,
{’a’: 1, ‘b’: 2}<br />
dic = {‘a’: 1, ‘b’: 2}</p>
<p>dic[‘c’] = 3 # 딕셔너리에 새로운 키-값 쌍 추가<br />
list(dic.keys()) # 딕셔너리의 키를 리스트로 변환, [‘a’, ‘b’, ‘c’]<br />
list(dic.values()) # 딕셔너리의 값을 리스트로 변환, [1, 2, 3]<br />
list(dic.items()) # 딕셔너리의 (키, 값) 쌍을 리스트로 변환, [(‘a’, 1),
(‘b’, 2), (‘c’, 3)]<br />
tuple(dic.items()) # 딕셔너리의 (키, 값) 쌍을 튜플로 변환, ((‘a’, 1),
(‘b’, 2), (‘c’, 3))<br />
tuple = ((‘a’, 1), (‘b’, 2), (‘c’, 3))<br />
tuple[0] # (‘a’, 1)<br />
tuple[0][0] # ‘a’<br />
list(tuple) # [(‘a’, 1), (‘b’, 2), (‘c’, 3)]<br />
set(tuple) # {(‘a’, 1), (‘b’, 2), (‘c’, 3)}</p>
