<h1>파일 읽고 쓰기</h1>
<p>score_file = open(“score.txt”, “w”, encoding=“utf8”)<br />
print(“수학 : 0”, file=score_file)<br />
print(“영어 : 50”, file=score_file)<br />
score_file.close()</p>
<h2>파일을 쓰기 모드로 열기</h2>
<p>f = open(‘external.txt’, ‘w’) # 파일을 쓰기 모드로 열기<br />
f.write(‘Hello, World!’)<br />
f.close()</p>
<pre>f = open(&quot;새파일.txt&quot;, &#39;w&#39;)
for i in range(1, 11):
    data = &quot;%d번째 줄입니다.\n&quot; % i
    f.write(data)
f.close()</pre>
<h2>파일을 읽기 모드로 열기</h2>
<pre>f = open(&#39;external.txt&#39;, &#39;r&#39;)
content = f.read()
print(content)
f.close()</pre>
<h2>a 파일을 추가 모드로 열기</h2>
<pre>text = &#39;add by a mode&#39;  
f = open(&#39;external.txt&#39;, &#39;a&#39;)  
f.write(&#39;\n&#39;+ text)  
f.close()  </pre>
<h2>readline() 함수 사용하기</h2>
<pre>f = open(&quot;새파일.txt&quot;, &#39;r&#39;)  
print(f.readline())  
print(f.readline())  
print(f.readline())  
print(f.readline())  
  
f.close()  

while True:  
    line = f.readline()  
    if not line: break  
    print(line)  
f.close()  </pre>
<h2>readlines() 함수 사용하기</h2>
<p>한글 깨지 방지를 위해 쓰기에 encoding=‘utf-8’ 필요<br />
읽을 때도 encoding=‘utf-8’ 필요</p>
<pre>f = open(&quot;새파일.txt&quot;, &#39;w&#39;, encoding=&#39;utf-8&#39;)
for i in range(1, 6):
    data = &quot;%d번째 줄입니다.\n&quot; % i
    f.write(data)
f.close()

f = open(&quot;새파일.txt&quot;, &#39;r&#39;, encoding=&#39;utf-8&#39;)
lines = f.readlines()
print(lines[len(lines) - 1])  # Print the last line
for line in lines:
    print(line)
f.close()
</pre>
<h2>with문과 함께
사용하기(close()를 안해도 됨)</h2>
<pre>with open(&#39;external.txt&#39;, &#39;w&#39;) as f:
  f.write(&#39;Hello, World!&#39;)
with open(&#39;external.txt&#39;, &#39;r&#39;) as f:
  content = f.read()
  print(content)  </pre>
<h2>sys 모듈로 매개변수 주기</h2>
<pre>#sys1.py
import sys
args = sys.argv[1:]
for arg in args:
  print(arg)</pre>
<h1>pickle 변수를 파일로
저장하기</h1>
<pre>import pickle
f = open(&#39;external.txt&#39;, &#39;wb&#39;)
data = {1: &#39;python&#39;, 2: &#39;you need&#39;, &#39;취미&#39;: [&#39;축구&#39;, &#39;골프&#39;, &#39;코딩&#39;]}
pickle.dump(data, f)
f.close()

f = open(&#39;external.txt&#39;, &#39;rb&#39;)
data = pickle.load(f)
print(data)
f.close()</pre>
