<div><a href="/">HOME</a></div>
<ul>
  <li><a href="/postgres/install">PostgreSQL</a>
    <ul>
      <li><a href="/postgres/install">install</a></li>
      <li><a href="/postgres/datatype">datatype</a></li>
      <li><a href="/postgres/crud">crud</a></li>
    </ul>
  </li>
  <li><a href="/sqlalchemy/setup">DB</a>
    <ul>
      <li><a href="/sqlalchemy/setup">DB setup</a></li>
      <li><a href="/sqlalchemy/core-crud">Core CRUD</a></li>
    </ul>
  </li>
  <li><a href="/python/install-flask">Python</a>
    <ul>
      <li><a href="/python/install-flask">flask setup</a></li>
      <li><a href="/python/datatype">datatype</a></li>
      <li><a href="/python/print-format">print format</a></li>
      <li><a href="/python/loop">loop</a></li>
      <li><a href="/python/def">def</a></li>
      <li><a href="/python/class-module">class module</a></li>
      <li><a href="/python/try-except">try except</a></li>
      <li><a href="/python/library">library</a></li>
      <li><a href="/python/closer-decorator">closer decorator</a></li>
      <li><a href="/python/regexp">regexp</a></li>
    </ul>
  </li>
  <li><a href="/topic">CRUD(no db)</a></li>
</ul>
